.draggable-node{
    cursor: grab;
    padding : 8px;
    min-width: 80px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #ffffff;
    border :1px solid #c8d7e6;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.draggable-node > img {
    width: 32px;
    height: 32px;
    
}
.draggable-node > span{
    color: #234964;
    font-size: 12px;
    text-align: center;
}
